
.custom-select-wrapper {
    width: 100px;
    position: relative;
    left: 100px;
    top: 100px;
    z-index: 1;
}

.custom-select-outer-box {
    width: 100%;
    padding: 4px;
    border: 1px solid black;
    user-select: none;
    position: relative;
    cursor: pointer;
}

.custom-select-arrow {
    width: 0; 
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;    
    border-left: 7px solid black;
    position: absolute;
    right: 0;
    top: 25%;
    transition: all .3s;
    cursor: pointer;
}

.custom-select-arrow-down {
    border-bottom: 7px solid black;
    border-left: 7px solid transparent;
}

.custom-select-options {
    position: absolute;
    opacity: 0;
    margin: 0;
    padding: 0;
    border: 2px solid black;
    border-top: 0;
    width: 100%;
    max-height: 0;
    overflow-y: auto;
    transition: all .4s;
}

.custom-select-option {
    padding: .3rem .55rem;
    cursor: pointer;
    font-size: 20x;
}

.custom-select-option:hover {
    background-color: rgb(102, 204, 255);
}

.custom-select-option-selected {
    background-color: rgb(0, 170, 255);
}

.custom-select-show {
    max-height: 200px;
    opacity: 1;
}

.custom-select-thick {
    border: 2px solid black;
}
